# Servername and Serverdomaim are what you call the actual server
$servername = "instance1" 
$serverdomain = "company.com"

# Sitename and Sitedomain are what you call the actual website
$sitename   = ""
# $sitename   = "www"
$sitedomain = "domain.com"

$identity = $sitename.empty? ? "#{$sitedomain}" : "#{$sitename}.#{$sitedomain}"

# Create a special nginx/unicorn socket variable name (vs using $sitename) 
#   in the event sitename is empty
$socket = "domain.com"

# The Environment for UNICORN/RAILS
$theenv = "staging" 

# MONIT ALERTS
$monitalert = "user@example.com"
# SNIP SSL CERT AND KEY files for verification purposes
$snip_ssl_crt = "snipofansslcrthere76hhjkwfuwafeajdfw"
$snip_ssl_key = "snipofansslkeyherekloiwnfiowlafiew"
